///**
// * Definieer AL(!) je variabelen hier. Schrijf achter elke variabele commentaar
// *
// * Als je iets niet kan aanpassen via deze variabelen, kijk dan in _mixins.scss
// *
// * @author 		Brian de Geus - Sebwite
// * @package 	Sebwite/BaseTheme
// * @since		0.2
// * @version     0.3.1
// */

// Versie
// ==========================================================================
$version: '2016-08-25 9:00';

// Breakpoints
// ==========================================================================

$breakpoint-x-large: min-width 1024px;
$breakpoint-large: max-width 1023px;
$breakpoint-medium: max-width 767px;
$breakpoint-small: max-width 640px;
$breakpoint-x-small: max-width 400px;
$breakpoint-touch-device: (pointer coarse, orientation landscape);

// Variables
// ==========================================================================

// Kleuren - voeg hier alle kleuren toe die gebruikt
$color_1: #206db5;  // Icon blue
$color_2: #fff;     // Wit
$color_3: #3c3c3b;  // Donkergrijs, tekst
$color_4: #968984;  // Bruin
$color_5: #8385bf; // Pastel paars

/* Tekst */
$font_1: 'PT Sans', sans-serif; //* De eerste font-family - Gebruikt voor koppen etc. */
$font_2: 'Source Sans Pro', sans-serif; //* De tweede font-family - Gebruikt voor normale teskt etc. */

$text_size_default: 18px; //* De standaard grootte van content */
$text_size_small: 16px; //* De grootte van kleine (maar leesbare) tekst */

$text_size_h1: 40px; //* De tekstgrootte van header 1 */
$text_size_h2: 30px; //* De tekstgrootte van header 2 */
$text_size_h3: 22px; //* De tekstgrootte van header 3 */
$text_size_h4: 18px; //* De tekstgrootte van header 4 */

$line_height_default: 28px; /* De standaard regelhoogte van content */
$line_height_condensed: 20px;

$text_color_heading: $color_3; /* De standaard kleur voor headings */
$text_color_default: $color_3; /* De standaard kleur voor tekst */
$text_color_contrast: $color_2; /* De tegenovergestelde kleur van de standaard kleur voor tekst */
$text_color_dark: darken($color_3, 25%); /* Een donkere tint van de standaard kleur voor tekst */
$text_color_light: lighten($color_3, 25%); /* Een lichtere tint van de standaard kleur voor tekst */

$text_color_anchor: $color_1; /* De standaard kleur voor een anchor in tekst */
$text_color_anchor_hover: $color_1; /* De hover kleur voor een anchor in tekst */
$text_color_anchor_active: darken($color_1, 5%); /* De active kleur voor een anchor in tekst */

/* Structure */
$wrapper_width: 100%; /* De breedte van alle website elementen die niet full-width zijn */
$wrapper_max_width: 1440px; /* De breedte van alle website elementen die niet full-width zijn */
$wrapper_background_color: $color_2; /* De achtergrondkleur voor de wrapper van de sidebar & content */
$wrapper_additional_spacing: 10px; /* De hoogte van de extra ruimte waarna de content start onder de header */
$wrapper_outside_padding: 30px;
$wrapper_outside_padding_mobile: 10px;
$wrapper_content_width: 100%;
$wrapper_content_max_width: 1100px;


$gutter_size: 15px;
$padding_outside_small: $wrapper_outside_padding - $gutter_size;

$article_top_and_bottom_padding: 50px;
$mobile_article_top_and_bottom_padding: 50px;

