// **
// * Hoofdbestand voor de frontend CSS.
// *
// * @author 		Brian de Geus - Sebwite
// * @package 	Sebwite/BaseTheme
// * @since		0.1
// * @version     0.3.1
// */
@import 'variables';

//@mixin wrapper-content {
//  margin: 0 auto;
//  width: 100%;
//  max-width: $wrapper_max_width;
//}

.sass-version {
  content: $version;
}
// We animate.css voor het maken van animaties
@import 'animate-settings';

// We importeren breakpoint voor het maken van Media Queries
@import '../bower_components/breakpoint-sass/stylesheets/breakpoint';

// We importeren susy voor het maken van de grid lay-out
@import '../bower_components/susy/sass/susy';

// Import compass functions if needed
@import 'compass-bootstrap';

// We importeren de basis onderdelen voor het thema
@import 'base/column-structure';
@import 'base/text';
@import 'base/structure';

// We importeren de header bestanden
@import 'sections/header';

// We importeren de styling voor de verschillende blokken op de pagina
@import 'sections/footer';
@import 'sections/articles';

// We importeren alle layouts in de map layouts
@import 'layouts';
@import 'objects';
@import 'components';
@import 'utilities';

// Disable when caching is active, don't use this anymore.
// @import 'misc/browsers';


// Development
// ==========================================================================
.debug pre {
  background-color: #fff;
}

