/**
 * CSS voor de Grid door middel van Susy
 *
 * @author 		Martin van Toorn - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.7.4
 * @version     0.1
 */

/* ===================================== */
/* Changing Susy default global settings */
/* ===================================== */

$susy: (
  /* Tells Susy to use 12 columns */
        columns: 12,
  /* Tells Susy that the container has a max-width of 1080px */
        container: $wrapper_max_width,
        gutters: .28,
  /* Tells Susy to use border-box */
        global-box-sizing: border-box
);

/* ======================================== */
/*    Susy include span size to columns     */
/* ======================================== */

@for $i from 1 through 12 {
  .col-#{$i}-12 {
    @include span($i of 12);

    &.last, &:last-of-type {
      @include span($i of 12 last);
    }
  }
}

/* ======================================== */
/*      Responsive styling of columns       */
/* ======================================== */

@include breakpoint($breakpoint-large) {
  .wrapper-main {
    .col-6-12 {
      margin-bottom: 20px;
    }

  }
}

@include breakpoint($breakpoint-small) {
  [class*="col-"], .last[class*="col-"] {
    @include span(12 of 12);
  }
}
