/**
 * Schrijf hier de styling voor de hoofdstructuur. Denk aan wrappers en het html of body element
 *
 * @author 		Brian de Geus - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.1
 * @version     0.3.1
 */

/* Standaarden
   ========================================================================== */

*, *:before, *:after {
  box-sizing: border-box;
}

/* Generiek
   ========================================================================== */

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $wrapper_background_color;
  word-wrap: break-word;
}

.wrapper-content {
  margin: 0 auto;
  width: 100%;
  max-width: $wrapper_max_width;
}


.wrapper-main {
  margin: 0 auto;
  width: 100%;
  max-width: $wrapper_max_width;
  padding: 0 $wrapper_outside_padding;

  @include breakpoint($breakpoint-small) {
    padding: 0 $wrapper_outside_padding_mobile;
  }
}

article {
  overflow: hidden;
}

iframe {
  max-width: 100%;
}

/* Overige
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


@include breakpoint( $breakpoint-small ){
  .wrapper-content {
    padding: 10px 20px;

    &__without-gutter {
      padding: 20px - $gutter_size;
    }

  }

}




@include breakpoint( $breakpoint-x-small ){
    .wrapper-content {
    }

    ol {
        padding: 0 0 0 20px;
    }

}
