/**
 * CSS voor de styling van text. Definieer hier de headers, hoofdtexten en andere subtextstyling.
 *
 * @author 		Brian de Geus - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.1
 * @version     0.2
 */

/* Generieke teksten
   -------------------------------------------------------------------------- */
p strong {
  font-weight: bold;
}
strong {
  font-weight: bold;
}

html {
  font-family: $font_2;
  font-size: $text_size_default;
  color: $text_color_default;
  line-height: $line_height_default;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: $font_1;
  font-weight: normal;
  color: $text_color_heading;
  text-transform: uppercase;
}

h1 {
  font-size: $text_size_h1;
  line-height: $text_size_h1 + 10px;
}

h2 {
  font-size: $text_size_h2;
  line-height: $text_size_h2 + 10px;
}

h3 {
  font-size: $text_size_h3;
  line-height: $text_size_h3 + 10px;
}

h4 {
  font-size: $text_size_h4;
  line-height: $text_size_h4 + 10px;
}

.wrapper-content h4 {
  margin-top: 30px;
}

.kleine-tekst {
  font-size: $text_size_default  - 1px;
  line-height: $line_height_default -2px;
}

.grote-tekst {
  font-size: $text_size_default  + 1px;
  line-height: $line_height_default +2px;
}

.extra-grote-tekst {
  font-size: $text_size_default  + 3px;
  line-height: $line_height_default +6px;
}

.uppercase {
  text-transform: uppercase;
}

p {
  margin: $line_height_default 0 0;

  &:first-of-type {
    margin: 0;
  }
}

h2 + p, h3 + p, h4 + p {
  margin: 0;
}

ol {
  padding: 0 0 0 40px;
  list-style: decimal;
}

ul {
  padding: 0 0 0 40px;
  list-style: disc;
}

hr {
  height: 1px;
  margin: 10px 10px;
  border: 0;
  background-color: rgba(0, 0, 0, .1);
}

a {
  text-decoration: underline;
  color: $text_color_anchor;
  outline: 0;

  &:hover {
    text-decoration: none;
    color: $text_color_anchor_hover;
    outline: 0;
  }

  &:active {
    text-decoration: none;
    color: $text_color_anchor_active;
    outline: 0;
  }

  &:focus {
    outline: 0;
  }
}

small {
  font-size: $text_size_small;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Dit is de mixin waar je stylen toepast op de tekst voor content, wordt hergebruikt in de backend editor */
@mixin content-text-styling {

  h1, h2, h3, h4 {
    margin: 10px 0;
  }

  p, ul, table, tr, td, ol {
    margin: 10px 0;
  }

  ol {
    padding: 0 0 0 40px;
    list-style: decimal;
  }

  ul {
    padding: 0 0 0 40px;
    list-style: disc;
  }

  del {
    color: $text_color_default;
  }

  p a {
    text-decoration: underline;
    color: $text_color_anchor;

    &:hover {
      text-decoration: none;
      color: $text_color_anchor_hover;
    }

    &:active {
      text-decoration: none;
      color: $text_color_anchor_active;
    }
  }

  img {
    height: auto;
    max-width: 100%;
  }

  p, span, small, ul, table, tr, td, ol {
    &.kleine-tekst {
      font-size: $text_size_default  - 1px;
    }

    &.grote-tekst {
      font-size: $text_size_default  + 1px;
    }

    &.extra-grote-tekst {
      font-size: $text_size_default  + 3px;
    }

    &.uppercase {
      text-transform: uppercase;
    }
  }

  p a.button {
    line-height: normal;
    color: $color_1;
    text-decoration: none;
  }

  ul, p ul {
    list-style-type: disc;
    margin-left: 40px;
  }

  ol, p ol {
    list-style-type: decimal;
    margin-left: 40px;
  }

}

.wrapper-entry {
  @include content-text-styling;
}

