/**
 * Schrijf hier de styling voor unieke pages of posts. Denk bijvoorbeeld aan page-home, page-41 of post-31
 *
 * @author 		Brian de Geus - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.1
 * @version     0.3.1
 */

/* Artikelen
   ========================================================================== */

.sub-article {



  &--bottom-margin {
    margin-bottom: $wrapper_outside_padding;
  }

  &--overlap-above {
    margin-top: -60px;
    position: relative;
  }

  &--overlap-below {
    margin-bottom: -100px;
    position: relative;
  }

  &--narrow {
    margin-left: $wrapper_outside_padding;
    margin-right: $wrapper_outside_padding;

    @include breakpoint($breakpoint-small) {
      margin-left: $wrapper_outside_padding_mobile;
      margin-right: $wrapper_outside_padding_mobile;
    }
  }

  .animated {
    opacity: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }





}



