///**
// * Schrijf hier de styling voor de footer
// *
// * @author 		Brian de Geus - Sebwite
// * @package 	Sebwite/BaseTheme
// * @since		0.1
// * @version     0.3.1
// */



footer {

  //@include wrapper-content;

  padding: 0 $wrapper_outside_padding 0;
  padding: 0;
  text-align: center;

  img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  .footer-content {
    background: $color_4;
    padding: 150px 0 40px
  }

  .social {
    width: 300px;
    margin: 40px auto 20px;
    text-align: center;

    > a {
      display: inline-block;
      margin-left: 10px;
    }

    img {
      width: 30px;

    }
  }

  .icon-facebook {
  }
}