/* ==========================================================================
   Header styling
   ========================================================================== */

header {

  margin: 0 auto;
  width: 100%;
  max-width: $wrapper_max_width;

  padding: 0 $wrapper_outside_padding;
  text-align: center;

  img {
    width: 440px;
    max-width: 100%;
    margin: $wrapper_outside_padding 0;
  }

}

