/* Tekst */
/* De standaard regelhoogte van content */
/* De standaard kleur voor headings */
/* De standaard kleur voor tekst */
/* De tegenovergestelde kleur van de standaard kleur voor tekst */
/* Een donkere tint van de standaard kleur voor tekst */
/* Een lichtere tint van de standaard kleur voor tekst */
/* De standaard kleur voor een anchor in tekst */
/* De hover kleur voor een anchor in tekst */
/* De active kleur voor een anchor in tekst */
/* Structure */
/* De breedte van alle website elementen die niet full-width zijn */
/* De breedte van alle website elementen die niet full-width zijn */
/* De achtergrondkleur voor de wrapper van de sidebar & content */
/* De hoogte van de extra ruimte waarna de content start onder de header */
.sass-version {
  content: "2016-08-25 9:00";
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
body {
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn, .animated.bounceOut {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

.animated.flipOutX, .animated.flipOutY {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * CSS voor de Grid door middel van Susy
 *
 * @author 		Martin van Toorn - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.7.4
 * @version     0.1
 */
/* ===================================== */
/* Changing Susy default global settings */
/* ===================================== */
/* ======================================== */
/*    Susy include span size to columns     */
/* ======================================== */
.col-1-12 {
  width: 6.6312997347%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-1-12.last, .col-1-12:last-of-type {
  width: 6.6312997347%;
  float: right;
  margin-right: 0;
}

.col-2-12 {
  width: 15.1193633952%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-2-12.last, .col-2-12:last-of-type {
  width: 15.1193633952%;
  float: right;
  margin-right: 0;
}

.col-3-12 {
  width: 23.6074270557%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-3-12.last, .col-3-12:last-of-type {
  width: 23.6074270557%;
  float: right;
  margin-right: 0;
}

.col-4-12 {
  width: 32.0954907162%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-4-12.last, .col-4-12:last-of-type {
  width: 32.0954907162%;
  float: right;
  margin-right: 0;
}

.col-5-12 {
  width: 40.5835543767%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-5-12.last, .col-5-12:last-of-type {
  width: 40.5835543767%;
  float: right;
  margin-right: 0;
}

.col-6-12 {
  width: 49.0716180371%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-6-12.last, .col-6-12:last-of-type {
  width: 49.0716180371%;
  float: right;
  margin-right: 0;
}

.col-7-12 {
  width: 57.5596816976%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-7-12.last, .col-7-12:last-of-type {
  width: 57.5596816976%;
  float: right;
  margin-right: 0;
}

.col-8-12 {
  width: 66.0477453581%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-8-12.last, .col-8-12:last-of-type {
  width: 66.0477453581%;
  float: right;
  margin-right: 0;
}

.col-9-12 {
  width: 74.5358090186%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-9-12.last, .col-9-12:last-of-type {
  width: 74.5358090186%;
  float: right;
  margin-right: 0;
}

.col-10-12 {
  width: 83.023872679%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-10-12.last, .col-10-12:last-of-type {
  width: 83.023872679%;
  float: right;
  margin-right: 0;
}

.col-11-12 {
  width: 91.5119363395%;
  float: left;
  margin-right: 1.8567639257%;
}

.col-11-12.last, .col-11-12:last-of-type {
  width: 91.5119363395%;
  float: right;
  margin-right: 0;
}

.col-12-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.col-12-12.last, .col-12-12:last-of-type {
  width: 100%;
  float: right;
  margin-right: 0;
}

/* ======================================== */
/*      Responsive styling of columns       */
/* ======================================== */
@media (max-width: 1023px) {
  .wrapper-main .col-6-12 {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  [class*="col-"], .last[class*="col-"] {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/**
 * CSS voor de styling van text. Definieer hier de headers, hoofdtexten en andere subtextstyling.
 *
 * @author 		Brian de Geus - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.1
 * @version     0.2
 */
/* Generieke teksten
   -------------------------------------------------------------------------- */
p strong {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #3c3c3b;
  line-height: 28px;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  color: #3c3c3b;
  text-transform: uppercase;
}

h1 {
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-size: 22px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

.wrapper-content h4 {
  margin-top: 30px;
}

.kleine-tekst {
  font-size: 17px;
  line-height: 28px -2px;
}

.grote-tekst {
  font-size: 19px;
  line-height: 30px;
}

.extra-grote-tekst {
  font-size: 21px;
  line-height: 34px;
}

.uppercase {
  text-transform: uppercase;
}

p {
  margin: 28px 0 0;
}

p:first-of-type {
  margin: 0;
}

h2 + p, h3 + p, h4 + p {
  margin: 0;
}

ol {
  padding: 0 0 0 40px;
  list-style: decimal;
}

ul {
  padding: 0 0 0 40px;
  list-style: disc;
}

hr {
  height: 1px;
  margin: 10px 10px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: underline;
  color: #206db5;
  outline: 0;
}

a:hover {
  text-decoration: none;
  color: #206db5;
  outline: 0;
}

a:active {
  text-decoration: none;
  color: #1c609f;
  outline: 0;
}

a:focus {
  outline: 0;
}

small {
  font-size: 16px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* Dit is de mixin waar je stylen toepast op de tekst voor content, wordt hergebruikt in de backend editor */
.wrapper-entry h1, .wrapper-entry h2, .wrapper-entry h3, .wrapper-entry h4 {
  margin: 10px 0;
}

.wrapper-entry p, .wrapper-entry ul, .wrapper-entry table, .wrapper-entry tr, .wrapper-entry td, .wrapper-entry ol {
  margin: 10px 0;
}

.wrapper-entry ol {
  padding: 0 0 0 40px;
  list-style: decimal;
}

.wrapper-entry ul {
  padding: 0 0 0 40px;
  list-style: disc;
}

.wrapper-entry del {
  color: #3c3c3b;
}

.wrapper-entry p a {
  text-decoration: underline;
  color: #206db5;
}

.wrapper-entry p a:hover {
  text-decoration: none;
  color: #206db5;
}

.wrapper-entry p a:active {
  text-decoration: none;
  color: #1c609f;
}

.wrapper-entry img {
  height: auto;
  max-width: 100%;
}

.wrapper-entry p.kleine-tekst, .wrapper-entry span.kleine-tekst, .wrapper-entry small.kleine-tekst, .wrapper-entry ul.kleine-tekst, .wrapper-entry table.kleine-tekst, .wrapper-entry tr.kleine-tekst, .wrapper-entry td.kleine-tekst, .wrapper-entry ol.kleine-tekst {
  font-size: 17px;
}

.wrapper-entry p.grote-tekst, .wrapper-entry span.grote-tekst, .wrapper-entry small.grote-tekst, .wrapper-entry ul.grote-tekst, .wrapper-entry table.grote-tekst, .wrapper-entry tr.grote-tekst, .wrapper-entry td.grote-tekst, .wrapper-entry ol.grote-tekst {
  font-size: 19px;
}

.wrapper-entry p.extra-grote-tekst, .wrapper-entry span.extra-grote-tekst, .wrapper-entry small.extra-grote-tekst, .wrapper-entry ul.extra-grote-tekst, .wrapper-entry table.extra-grote-tekst, .wrapper-entry tr.extra-grote-tekst, .wrapper-entry td.extra-grote-tekst, .wrapper-entry ol.extra-grote-tekst {
  font-size: 21px;
}

.wrapper-entry p.uppercase, .wrapper-entry span.uppercase, .wrapper-entry small.uppercase, .wrapper-entry ul.uppercase, .wrapper-entry table.uppercase, .wrapper-entry tr.uppercase, .wrapper-entry td.uppercase, .wrapper-entry ol.uppercase {
  text-transform: uppercase;
}

.wrapper-entry p a.button {
  line-height: normal;
  color: #206db5;
  text-decoration: none;
}

.wrapper-entry ul, .wrapper-entry p ul {
  list-style-type: disc;
  margin-left: 40px;
}

.wrapper-entry ol, .wrapper-entry p ol {
  list-style-type: decimal;
  margin-left: 40px;
}

/**
 * Schrijf hier de styling voor de hoofdstructuur. Denk aan wrappers en het html of body element
 *
 * @author 		Brian de Geus - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.1
 * @version     0.3.1
 */
/* Standaarden
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Generiek
   ========================================================================== */
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff;
  word-wrap: break-word;
}

.wrapper-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.wrapper-main {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
}

@media (max-width: 640px) {
  .wrapper-main {
    padding: 0 10px;
  }
}

article {
  overflow: hidden;
}

iframe {
  max-width: 100%;
}

/* Overige
   ========================================================================== */
.clearfix:before,
.clearfix:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@media (max-width: 640px) {
  .wrapper-content {
    padding: 10px 20px;
  }
  .wrapper-content__without-gutter {
    padding: 5px;
  }
}

@media (max-width: 400px) {
  ol {
    padding: 0 0 0 20px;
  }
}

/* ==========================================================================
   Header styling
   ========================================================================== */
header {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
  text-align: center;
}

header img {
  width: 440px;
  max-width: 100%;
  margin: 30px 0;
}

footer {
  padding: 0 30px 0;
  padding: 0;
  text-align: center;
}

footer img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

footer .footer-content {
  background: #968984;
  padding: 150px 0 40px;
}

footer .social {
  width: 300px;
  margin: 40px auto 20px;
  text-align: center;
}

footer .social > a {
  display: inline-block;
  margin-left: 10px;
}

footer .social img {
  width: 30px;
}

/**
 * Schrijf hier de styling voor unieke pages of posts. Denk bijvoorbeeld aan page-home, page-41 of post-31
 *
 * @author 		Brian de Geus - Sebwite
 * @package 	Sebwite/BaseTheme
 * @since		0.1
 * @version     0.3.1
 */
/* Artikelen
   ========================================================================== */
.sub-article--bottom-margin {
  margin-bottom: 30px;
}

.sub-article--overlap-above {
  margin-top: -60px;
  position: relative;
}

.sub-article--overlap-below {
  margin-bottom: -100px;
  position: relative;
}

.sub-article--narrow {
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 640px) {
  .sub-article--narrow {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.sub-article .animated {
  opacity: 0;
}

.sub-article img {
  max-width: 100%;
  height: auto;
}

/* generated with grunt-sass-globbing */
.sub-article.border-block {
  background: #8385bf;
  text-align: center;
  padding: 20px;
}

.sub-article.border-block .border-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  padding: 30px 0;
}

.sub-article.border-block .text {
  max-width: 66.0477453581%;
}

@media (max-width: 640px) {
  .sub-article.border-block .text {
    max-width: 95%;
  }
}

.sub-article.brown-block {
  background: #968984;
}

.sub-article.brown-block .text {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px 0;
}

.icon {
  display: block;
  height: 80px;
  width: 80px;
  margin: auto;
}

.sub-article.full-width-img .image {
  background: url("../images/header-1.jpg") center top no-repeat;
  height: 500px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-article.full-width-img .image .quote {
  width: 66.0477453581%;
  max-width: 800px;
  padding: 30px;
  border: 3px solid #3c3c3b;
  margin-bottom: 60px;
  color: #3c3c3b;
  font-size: 36px;
  line-height: 40px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 640px) {
  .sub-article.full-width-img .image .quote {
    width: 83.023872679%;
    padding: 30px;
    font-size: 26px;
    line-height: 32px;
  }
}

.sub-article.heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.sub-article.text .col-12-12 {
  padding: 0 6.6312997347%;
}

.three-columns .wrapper-content {
  background: #fff;
}

.three-columns .col-4-12 {
  padding: 30px;
  text-align: center;
}

@media (max-width: 640px) {
  .three-columns .col-4-12 {
    padding: 10px;
  }
}

.three-columns .icon {
  margin-bottom: 10px;
}

.three-columns h2 {
  font-size: 22px;
}

.sub-article.wide-img img {
  width: 100%;
  height: auto;
}

/* generated with grunt-sass-globbing */
/* generated with grunt-sass-globbing */
/* generated with grunt-sass-globbing */
.u-align--left {
  text-align: left !important;
}

.u-align--center {
  text-align: center !important;
}

.u-align--right {
  text-align: right !important;
}

.u-article--bg-white {
  background-color: white !important;
}

.u-article--bg-gray {
  background-color: grey !important;
}

.u-float-align--left {
  float: left !important;
}

.u-float-align--right {
  float: right !important;
}

.u--inverted h1, .u--inverted h2, .u--inverted h3, .u--inverted h4, .u--inverted p, .u--inverted a, .u--inverted ol, .u--inverted ul, .u--inverted table, .u--inverted tr, .u--inverted td, .u--inverted del, .u--inverted span, .u--inverted small, .u--inverted strong {
  color: #fff;
}

.debug pre {
  background-color: #fff;
}