.sub-article.border-block {

  background: $color_5;
  text-align: center;
  padding: 20px;

  .border-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color_2;
    padding: $wrapper_outside_padding 0;
  }

  .text {
    max-width: span(8);

    @include breakpoint($breakpoint-small) {
      max-width: 95%;
    }
  }
}
