.sub-article.brown-block {
  background: $color_4;


  .text {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: $wrapper_outside_padding 0;


  }
}

.icon {

  display: block;
  height: 80px;
  width: 80px;
  margin: auto;
}