.sub-article.full-width-img {

  .image {
    background: url('../images/header-1.jpg') center top no-repeat;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    .quote {
      width: span(8);
      max-width: 800px;
      padding: $wrapper_outside_padding;
      border: 3px solid $color_3;
      margin-bottom: 60px;

      color: $color_3;
      font-size: 36px;
      line-height: 40px;
      font-family: $font_1;
      text-transform: uppercase;
      text-align: center;

      @include breakpoint($breakpoint-small) {

        width: span(10);
        padding: $wrapper_outside_padding;

        font-size: 26px;
        line-height: 32px;
      }
    }
  }
}