.three-columns {
  .wrapper-content {
    background: $color_2;
  }


  .col-4-12 {
    padding: $wrapper_outside_padding;
    text-align: center;

    @include breakpoint($breakpoint-small) {
      padding: $wrapper_outside_padding_mobile;
    }
  }

  .icon {
    margin-bottom: 10px;
  }

  h2 {
    font-size: 22px;
  }
}